.element-main-screen {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.element-main-screen .div {
    background-color: var(--gray-light);
    width: 1366px;
    height: 768px;
    position: relative;
}

.element-main-screen .group {
    position: absolute;
    width: 292px;
    height: 432px;
    top: 112px;
    left: 56px;
}

.element-main-screen .img {
    position: absolute;
    width: 281px;
    height: 280px;
    top: 0;
    left: 0;
}

.element-main-screen .group-2 {
    position: absolute;
    width: 296px;
    height: 124px;
    top: 308px;
    left: 0;
}

.element-main-screen .type-something {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 26px;
    letter-spacing: 0;
    line-height: 33.8px;
    white-space: nowrap;
}

.element-main-screen .text-wrapper {
    position: absolute;
    width: 81px;
    top: 46px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #0064ea;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.element-main-screen .group-3 {
    position: absolute;
    width: 292px;
    height: 24px;
    top: 100px;
    left: 0;
}

.element-main-screen .group-4 {
    position: absolute;
    width: 149px;
    height: 24px;
    top: 0;
    left: 0;
}

.element-main-screen .description {
    position: absolute;
    top: 0;
    left: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.element-main-screen .icon-visability {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

.element-main-screen .icon-social-group {
    position: absolute;
    width: 22px;
    height: 14px;
    top: 5px;
    left: 1px;
}

.element-main-screen .group-wrapper {
    position: absolute;
    width: 129px;
    height: 24px;
    top: 0;
    left: 163px;
}

.element-main-screen .div-wrapper {
    height: 24px;
}

.element-main-screen .group-5 {
    position: relative;
    width: 131px;
    height: 24px;
}

.element-main-screen .icon-social-person {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
}

.element-main-screen .type-something-2 {
    position: absolute;
    top: 99px;
    left: 435px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--black);
    font-size: 32px;
    letter-spacing: 0;
    line-height: 41.6px;
    white-space: nowrap;
}

.element-main-screen .content-wrapper {
    position: absolute;
    width: 877px;
    height: 112px;
    top: 171px;
    left: 433px;
}

.element-main-screen .content {
    display: flex;
    flex-direction: column;
    width: 877px;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    padding: 24px 32px;
    position: relative;
    background-color: var(--base-white);
    border-radius: 6px;
}

.element-main-screen .type-something-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0064ea;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: none;
}

.element-main-screen .type-something-4 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.element-main-screen .group-6 {
    position: absolute;
    width: 877px;
    height: 112px;
    top: 307px;
    left: 433px;
}

.element-main-screen .group-7 {
    position: absolute;
    width: 877px;
    height: 112px;
    top: 443px;
    left: 433px;
}

.element-main-screen .group-8 {
    position: absolute;
    width: 877px;
    height: 112px;
    top: 579px;
    left: 433px;
}

.element-main-screen .header {
    position: absolute;
    width: 1366px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: var(--gray-light);
}

.element-main-screen .overlap-group {
    position: relative;
    width: 1366px;
    height: 72px;
}

.element-main-screen .body {
    position: absolute;
    width: 1366px;
    height: 72px;
    top: 0;
    left: 0;
    background-color: #0064ea;
}

.element-main-screen .divider {
    position: absolute;
    width: 1366px;
    height: 1px;
    top: 72px;
    left: 0;
    object-fit: cover;
}

.element-main-screen .search-wrapper {
    position: absolute;
    width: 500px;
    height: 40px;
    top: 16px;
    left: 104px;
}

.element-main-screen .search {
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
}

.element-main-screen .icon-text {
    display: flex;
    width: 472px;
    align-items: center;
    gap: 6px;
    position: relative;
    top: 8px;
    left: 14px;
}

.element-main-screen .icon-arrow-left {
    position: relative;
    width: 24px;
    height: 24px;
}

.element-main-screen .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    width: 256px;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.14px;
    line-height: normal;
}

.element-main-screen .frame {
    position: absolute;
    width: 41px;
    height: 40px;
    top: 16px;
    left: 41px;
}

.element-main-screen .pagination-default {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 715px;
    left: 960px;
}

.element-main-screen .name {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #808080;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
}

.element-main-screen .icons-s-arrow-left {
    top: 4px;
    position: relative;
    width: 18px;
    height: 18px;
    left: 3px;
}

.element-main-screen .i {
    position: absolute;
    width: 7px;
    height: 11px;
    top: 3px;
    left: 5px;
}

.element-main-screen .name-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2px 6px;
    position: relative;
    flex: 0 0 auto;
    background-color: #0064ea;
    border-radius: 3px;
    overflow: hidden;
}

.element-main-screen .name-2 {
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    position: relative;
    width: fit-content;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
}

.element-main-screen .name-3 {
    font-family: "Work Sans-Regular", Helvetica;
    color: #808080;
    font-size: 16px;
    line-height: 22.2px;
    position: relative;
    width: fit-content;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
}

.element-main-screen .icon-arrow-right {
    position: relative;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

.element-main-screen .icons-s-arrow-right {
    top: 2px;
    transform: rotate(180deg);
    position: relative;
    width: 18px;
    height: 18px;
    left: 3px;
}

.element-main-screen .i-2 {
    position: absolute;
    width: 7px;
    height: 11px;
    top: 3px;
    left: 5px;
    transform: rotate(-180deg);
}